# build devcontainer and push to ghcr.io
on:
    workflow_dispatch: {}
    push: {}
    schedule:
        - cron: "0 0 * * 0"

permissions:
    contents: read
    packages: write

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        timeout-minutes: 20
        steps:
            - name: Checkout (GitHub)
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.repository_owner }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Restore cache
              uses: actions/cache@v4
              with:
                path: /tmp/docker-cache
                key: devcontainer-cache-${{ runner.os }}-${{ hashFiles('base/.devcontainer/**') }}
                restore-keys: |
                  devcontainer-cache-${{ runner.os }}-

            # - name: Pre-build dev container image base debug
            #   uses: devcontainers/ci@v0.3
            #   with:
            #     subFolder: debug
            #     imageName: ghcr.io/hi5ato/mydevcontainer-debug
            #     cacheTo: type=gha,mode=max
            #     push: always

            - name: Pre-build dev container image
              uses: devcontainers/ci@v0.3
              with:
                subFolder: base
                imageName: ghcr.io/hi5ato/mydevcontainer
                noCache: ${{ github.event_name == 'schedule' }}
                push: always
                cacheFrom: type=local,src=/tmp/docker-cache
                cacheTo: type=local,dest=/tmp/docker-cache-new,mode=max

            - name: Move cache
              run: |
                rm -rf /tmp/docker-cache
                mv /tmp/docker-cache-new /tmp/docker-cache
